In [8]:
import pandas as pd
import numpy as np

In [13]:
df_raw = pd.read_csv('./CarRentalDataV1.csv')
# df_raw.describe()
df_raw.isna().sum().sum()

576

In [16]:
df_clean = pd.read_csv('./CarRentalDataCleaned.csv')
# df_clean.describe()
df_clean.isna().sum().sum()

0

In [15]:
temp_df = df_raw[df_raw['rating'] < 4]
print(temp_df)

      fuelType  rating  renterTripsTaken  reviewCount      location.city  \
260     HYBRID    3.86              10.0          7.0          Del Valle
1022  GASOLINE    3.00               1.0          1.0          Annandale
1183  GASOLINE    2.00               1.0          1.0           Loveland
1214    DIESEL    3.50               3.0          2.0           Lakewood
1310  GASOLINE    3.67               5.0          3.0           Dearborn
1482    HYBRID    3.67               5.0          3.0        Jersey City
1651  GASOLINE    1.50               3.0          2.0            Houston
1659  GASOLINE    1.00               2.0          1.0            Houston
2188  GASOLINE    3.67               5.0          3.0          Inglewood
2367  GASOLINE    3.56              10.0          9.0        Kansas City
2684  GASOLINE    3.50              11.0          6.0              Miami
2700  GASOLINE    3.25               5.0          4.0              Miami
2938  GASOLINE    3.00               3.0          2.0        New Orleans
3001  GASOLINE    3.00               1.0          1.0            Oakland
4217  GASOLINE    3.67               3.0          3.0         Fort Myers
4240  GASOLINE    3.50               6.0          4.0  Sunny Isles Beach
4515  GASOLINE    3.67               4.0          3.0        San Antonio
4532  GASOLINE    3.00               2.0          2.0        San Antonio
4661  GASOLINE    1.00               1.0          1.0            Seattle

     location.country  location.latitude  location.longitude location.state  \
260                US          30.218076          -97.662069             TX
1022               US          38.810849          -77.186048             VA
1183               US          40.410407         -104.997213             CO
1214               US          39.681583         -105.100971             CO
1310               US          42.309499          -83.144286             MI
1482               US          40.738874          -74.058996             NJ
1651               US          29.621181          -95.224279             TX
1659               US          29.746675          -95.307274             TX
2188               US          33.953088         -118.374567             CA
2367               US          39.308717          -94.713248             MO
2684               US          25.799535          -80.259676             FL
2700               US          25.798101          -80.261559             FL
2938               US          29.944963          -90.041180             LA
3001               US          37.746369         -122.174740             CA
4217               US          26.595347          -81.884744             FL
4240               US          25.952949          -80.120560             FL
4515               US          29.514017          -98.536698             TX
4532               US          29.486385          -98.715862             TX
4661               US          47.513483         -122.329250             WA

        owner.id  rate.daily   vehicle.make vehicle.model vehicle.type  \
260   11279587.0        31.0         Toyota       Prius c          car
1022  15641562.0        30.0      Chevrolet         Spark          car
1183   3856661.0       101.0            BMW      4 Series          car
1214   8819114.0        57.0     Volkswagen       Touareg          suv
1310    849660.0       300.0  Mercedes-Benz       E-Class          car
1482   3533385.0       140.0        Porsche       Cayenne          suv
1651   8323259.0        35.0      Chevrolet        Malibu          car
1659  14615402.0        55.0  Mercedes-Benz       E-Class          car
2188  11650238.0        30.0            Kia       Cadenza          car
2367   2272659.0        46.0           Ford         Focus          car
2684   1506983.0        34.0         Nissan        Sentra          car
2700   1506983.0        40.0         Nissan        Sentra          car
2938  15077431.0        61.0           Ford      Explorer          suv
3001  14769007.0        70.0         Nissan    Pathfinder          suv
4217  15237628.0        35.0          Scion            tC          car
4240    864946.0       150.0            BMW      4 Series          car
4515     64265.0        35.0      Chevrolet        Malibu          car
4532   8510171.0        65.0      Chevrolet        Impala          car
4661  13785187.0        59.0           Ford       Mustang          car

      vehicle.year  airportcity
260         2012.0       Austin
1022        2013.0   Washington
1183        2015.0       Denver
1214        2012.0       Denver
1310        2014.0      Detroit
1482        2013.0       Newark
1651        2014.0      Houston
1659        2011.0      Houston
2188        2014.0  Los Angeles
2367        2015.0  Kansas City
2684        2019.0        Miami
2700        2017.0        Miami
2938        2015.0  New Orleans
3001        2014.0      Oakland
4217        2014.0   Fort Myers
4240        2018.0   Fort Myers
4515        2018.0  San Antonio
4532        2017.0  San Antonio
4661        2018.0      Seattle